@use '@angular/material' as mat;

// Define color palettes
$primary: mat.define-palette(mat.$purple-palette, 600);  // Access color palette directly
$accent: mat.define-palette(mat.$purple-palette, 500);
$warn: mat.red(500);

// Define theme
$theme: mat.light-theme($primary, $accent, $warn);

// Apply the core styles
@include mat.core();

// Custom typography config
$custom-typography: mat.typography-config(
  $font-family: 'Poppins, sans-serif'
);

// Include core styles and typography
@include mat.core($custom-typography);

// Default theme inclusion
@include mat.all-component-themes($theme);
