<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row">
    <span>Change Password</span>
    <span class="spacer"></span>
    <button class="mat-dialog-close" mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
  <form [formGroup]="changePasswordForm">
    <div fxFlex fxLayout="column">
      <mat-form-field appearance="outline" fxFlex>
        <mat-label>Old Password</mat-label>
        <input
          matInput
          placeholder="Old Password"
          formControlName="oldPassword"
          required
          type="password"
          [type]="oldPassword ? 'password' : 'text'"
        />
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="oldPassword = !oldPassword"
          [attr.aria-label]="'Hide Password'"
          [attr.aria-pressed]="oldPassword"
        ></button>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
